In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
data_closed = pd.read_csv('data\olist_closed_deals_dataset.csv')

In [20]:
data_closed.head(2)

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0

In [8]:
data_closed.shape

(842, 14)

In [9]:
'Tenemos campos con gran mayoría de valores faltantes, se recomienda dropear has_company, has_gtin, average_stock, declared_product_catalog_siz'

data_closed.isnull().sum()

mql_id                             0
seller_id                          0
sdr_id                             0
sr_id                              0
won_date                           0
business_segment                   1
lead_type                          6
lead_behaviour_profile           177
has_company                      779
has_gtin                         778
average_stock                    776
business_type                     10
declared_product_catalog_size    773
declared_monthly_revenue           0
dtype: int64

'¿Qué es sdr_id y sr_id ?'

In [10]:
'Categorías de rubros de vendedores'

data_closed.business_segment.unique()

array(['pet', 'car_accessories', 'home_appliances', 'food_drink',
       'health_beauty', 'computers', 'household_utilities',
       'construction_tools_house_garden', 'toys', 'sports_leisure',
       'stationery', 'food_supplement', 'home_decor', 'bed_bath_table',
       'watches', 'fashion_accessories', 'jewerly', 'party',
       'small_appliances', 'audio_video_electronics', 'other',
       'bags_backpacks', 'home_office_furniture', 'music_instruments',
       'books', 'baby', 'air_conditioning', 'phone_mobile', nan,
       'handcrafted', 'perfume', 'gifts', 'religious', 'games_consoles'],
      dtype=object)

In [11]:
data_closed.lead_type.unique()

array(['online_medium', 'industry', 'online_big', 'online_small',
       'offline', 'online_top', 'online_beginner', 'other', nan],
      dtype=object)

In [12]:
data_closed.lead_behaviour_profile.unique()

array(['cat', 'eagle', nan, 'wolf', 'shark', 'cat, wolf', 'eagle, wolf',
       'shark, cat', 'eagle, cat', 'shark, wolf'], dtype=object)

In [13]:
'La columna esta tiene prácticamente todos sus registros en cero, yo la tiraría a la mierda'

data_closed.declared_monthly_revenue.value_counts()

0.0           797
100000.0        5
20000.0         3
30000.0         3
10000.0         3
25000.0         3
15000.0         2
120000.0        2
50000.0         2
60000.0         2
300000.0        2
5000.0          2
250000.0        2
210000.0        1
8000000.0       1
40000.0         1
50000000.0      1
4000.0          1
150000.0        1
6.0             1
1000.0          1
180000.0        1
500000.0        1
130000.0        1
6000.0          1
8000.0          1
200000.0        1
Name: declared_monthly_revenue, dtype: int64

In [14]:
data_closed.dtypes

mql_id                            object
seller_id                         object
sdr_id                            object
sr_id                             object
won_date                          object
business_segment                  object
lead_type                         object
lead_behaviour_profile            object
has_company                       object
has_gtin                          object
average_stock                     object
business_type                     object
declared_product_catalog_size    float64
declared_monthly_revenue         float64
dtype: object

Pasar won_Date a tipo de dato datetime y dropear columnas

In [15]:
data_closed['won_date'] = pd.to_datetime(data_closed['won_date'])

In [22]:
data_closed.drop(columns=['declared_monthly_revenue', 'has_company','has_gtin', 'average_stock', 'declared_product_catalog_size'], inplace=True)

In [24]:
data_closed.to_parquet('dataparquet\data_closedP')