In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data_category_product = pd.read_csv('data\product_category_name_translation.csv')

In [3]:
data_category_product

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [4]:
'No hay faltantes'

data_category_product.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [5]:
'No hay duplicados'

data_category_product.duplicated().sum()

0