In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data_seller = pd.read_csv('data\olist_sellers_dataset.csv')

In [ ]:
data_seller.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

No tenemos faltantes

In [ ]:
'Reenombramos para mantener el nombre de los campos uniformados'

data_seller.rename(columns = {'seller_zip_code_prefix': 'zip_code', 'seller_city': 'city', 'seller_state': 'state'}, inplace= True)

In [ ]:
data_seller.head(2)

                          seller_id  zip_code        city state
0  3442f8959a84dea7ee197c632cb2df15     13023    campinas    SP
1  d1b65fc7debc3361ea86b5f14c68d2e2     13844  mogi guacu    SP

In [4]:
'Buscamos duplicados'

data_seller.duplicated().sum()

0

In [5]:
'Cantidad de ciudades donde hay vendedores'

len(data_seller.city.unique())

AttributeError: 'DataFrame' object has no attribute 'city'

+ Debemos normalizar el campo 'city'