In [14]:
import pandas as pd
import numpy as np

In [15]:
data_closed = pd.read_csv(r'C:\Users\marco\Desktop\PG.V2\data\olist_closed_deals_dataset.csv')

In [16]:
data_closed['won_date'] = pd.to_datetime(data_closed['won_date'])

In [17]:
data_closed.drop(columns=['declared_monthly_revenue', 'sr_id', 'sdr_id', 'lead_behaviour_profile', 'has_company','lead_type','has_gtin','business_type' ,'average_stock', 'declared_product_catalog_size'], inplace=True)

In [18]:
data_closed

,mql_id,seller_id,won_date,business_segment
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,2018-02-26 19:58:54,pet
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,2018-05-08 20:17:59,car_accessories
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,2018-06-05 17:27:23,home_appliances
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,2018-01-17 13:51:03,food_drink
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,2018-07-03 20:17:45,home_appliances
...,...,...,...,...
837,df9a2abe2ad3f2d8758b675ac8331ecf,bfcc27719640628da877db48b672b169,2018-08-01 20:22:31,home_decor
838,8723201570415eb23b4f095d8c20a27c,4a82eab98441aeb64566e2776c1fb2b6,2018-09-27 18:58:41,construction_tools_house_garden
839,2e57665b8faf05c967a801eb5aedfa0a,55031883943971ca22db6894574cfe2c,2018-06-06 20:15:26,computers
840,40955be51cc85c5a5a6cdd12b19e9f10,c0e933c238e41f0cd459d6025ee9b364,2018-03-06 15:52:23,pet
841,8a6492305a5fbcdcdd1a7f5a90764c07,1bba9c94eb5c4e82fba9f7286fe81025,2018-05-02 13:31:32,household_utilities

In [20]:
data_closed.to_parquet(r'C:\Users\marco\Desktop\PG.V2\dataparquet\data_closedP')